/**
 *------
 * BGA framework: Ã‚Â© Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Taluva implementation : Ã‚Â© quietmint
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * taluva.css
 *
 * taluva stylesheet
 *
 */

@import url(../../../css/csslayer.css);

/** Remaining tile counter **/

#playArea {
    margin: 15px;
    height: 880px;
    width: 100%;
    display: block;
    background-repeat: repeat;
    background-image: url('img/background.jpg');
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1920px) {
    #playareascaler {
        transform:scale(0.9,0.9);
        transform-origin: left top;
        width: 1800px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1913px) and (min-width: 1025px) {
    #playareascaler {
        transform:scale(0.7,0.7);
        transform-origin: top left;
        width: 1432px;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
    #playareascaler {
        transform:scale(0.7,0.7);
        transform-origin: top left;
        width: 1050px;
        margin: auto;
    }
}

@media screen and (max-width: 799px) and (min-width: 1px) {
    #playareascaler {
        transform:scale(0.5,0.5);
        transform-origin: top left;
		width: 820px;
    }
}

#remain {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  transform: translateZ(10px);
  z-index:  200;
}

#count_remain {
  font-weight: 500;
}

/** Scrollable area **/

#map_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mode_3d #map_container {
  perspective: 800px;
  perspective-origin: center bottom;
}

#map_scrollable,
#map_scrollable_oversurface {
  position: absolute;
  top: 300px;
  left: 350px;
  /* background:  red; */
}

#map_surface {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
  /* background:  red; */
}

.mode_3d #map_surface {
  cursor: default;
}

#map_footer {
  text-align: center;
}

/** Move arrows **/

#map_container .move {
  display: block;
  position: absolute;
  background-image: url('../../../img/common/arrows.png');
  width: 32px;
  height: 32px;
}

#map_container .movetop {
  top: 0px;
  left: 50%;
  background-position: 0px 32px;
}

#map_container .movedown {
  bottom: 0px;
  left: 50%;
  background-position: 32px 32px;
}

#map_container .moveleft {
  top: 50%;
  left: 0px;
  background-position: 32px 0px;
}

#map_container .moveright {
  top: 50%;
  right: 0px;
  background-position: 0px 0px;
}

.huticon {
    display:inline-block;
    width: 16px;
    height: 17px;
    background-image: url(img/sides.png);
    background-size: 350%;
    background-position: 16px -17px;
}

.templeicon {
    display:inline-block;
    width: 20px;
    height: 25px;
    background-image: url(img/sides.png);
    background-size: 300%;
    background-position: -23px -12px;
}
.towericon {
    display:inline-block;
    width: 20px;
    height: 35px;
    background-image: url(img/sides.png);
    background-size: 290%;
    background-position: 0px 0px;
}
.templeicon.color_ff0000 {
      background-position: -23px -122px;
}
.templeicon.color_ffffff {
      background-position: -23px -85px;
}
.templeicon.color_b1634f {
      background-position: -23px -49px;
}

.towericon.color_ff0000 {
     background-position: 0px -106px;
}
.towericon.color_ffffff {
     background-position: 0px -71px;
}
.towericon.color_b1634f {
     background-position: 0px -36px;
}

.huticon.color_ff0000 {
     background-position: 16px 17px;
}
.huticon.color_ffffff {
      background-position: 16px -85px;
}
.huticon.color_b1634f {
     background-position: 16px -51px;
}



/** Faces **/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 350ms forwards ease-in-out !important;
}

.face {
  position: absolute;
  width: 84px;
  height: 97px;
  line-height: 97px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px black;
  background: rgba(255, 255, 255, 0.33);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.face.possible {
  transform: scale(0.85);
  cursor: pointer;
  animation: 350ms fade-in ease-in-out;
}

.face.rotate {
  font-size: 80px;
}

/* Volcano */

.face.face-0 {
  background: #FF5722 url(img/volcano84.png);
}

/* Jungle */

.face.face-1 {
  background: #33691E;
}

/* Grass */

.face.face-2 {
  background: #8BC34A;
}

/* Sand */

.face.face-3 {
  background: #FFE082;
}

/* Rock */

.face.face-4 {
  background: #9E9E9E;
}

/* Lake */

.face.face-5 {
  background: #039BE5;
}

/** 3D Sides */

.side {
  width: 175px;
  height: 100px;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 81, 50, 1) 0%, rgba(255, 246, 0, 1) 100%);
  text-align: center;
  line-height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1) inset;
}

.side:nth-child(1) {
  transform: rotateY(-90deg) translateZ(87px);
}

.side:nth-child(2) {
  transform: rotateY(-90deg) rotateX(60deg) translateZ(87px);
}

.side:nth-child(3) {
  transform: rotateZ(180deg) rotateY(-90deg) rotateX(-60deg) translateZ(87px);
}

.side:nth-child(4) {
  transform: rotateZ(180deg) rotateY(-90deg) translateZ(87px);
}

.side:nth-child(5) {
  transform: rotateZ(180deg) rotateY(-90deg) rotateX(60deg) translateZ(87px);
}

.side:nth-child(6) {
  transform: rotateY(-90deg) rotateX(-60deg) translateZ(87px);
}

/** Tiles **/

/*
.tile {
  position: absolute;
  width: 168px;
  height: 168px;
  background: black;
  transform-origin: 50% 57.74%;
  clip-path: polygon(50% 0, 75% 14.29%, 75% 42.89%, 100% 57.14%, 100% 85.71%, 75% 100%, 50% 85.71%, 25% 100%, 0 85.71%, 0 57.14%, 25% 42.89%, 25% 14.29%);
}
*/

.tile {
  position: absolute;
  width: 168px;
  height: 168px;
  transform-origin: 84px 97px;
  transition: transform 350ms ease-in-out;
  animation: fade-in 350ms ease-in-out;
  /*filter: drop-shadow(0 0 1px black);*/
}

.tile.rotate60 {
  transform: translate(-43px, -25px) rotate(60deg);
}

.tile.rotate120 {
  transform: translate(-43px, -73px) rotate(120deg);
}

.tile.rotate180 {
  transform: translate(0, -97px) rotate(180deg);
}

.tile.rotate240 {
  transform: translate(43px, -73px) rotate(240deg);
}

.tile.rotate300 {
  transform: translate(43px, -25px) rotate(300deg);
}

.tile .face.top {
  top: 0;
  left: 25%;
}

.tile .face.left {
  top: 71px;
  left: 0;
}

.tile .face.right {
  top: 71px;
  right: 0;
}

.tile.prior-move-ffffff {
  filter: drop-shadow(0 0 1px black) drop-shadow(-2px -2px 0px white) drop-shadow(2px 2px 0px white) drop-shadow(-2px 2px 0px white) drop-shadow(2px -2px 0px white);
}

.tile.prior-move-b1634f {
  filter: drop-shadow(0 0 1px #b1634f) drop-shadow(-2px -2px 0px #b1634f) drop-shadow(2px 2px 0px #b1634f) drop-shadow(-2px 2px 0px #b1634f) drop-shadow(2px -2px 0px #b1634f);
}

.tile.prior-move-ff0000 {
  filter: drop-shadow(0 0 1px black) drop-shadow(-2px -2px 0px red) drop-shadow(2px 2px 0px red) drop-shadow(-2px 2px 0px red) drop-shadow(2px -2px 0px red);
}

.tile.prior-move-ffa500 {
  filter: drop-shadow(0 0 1px black) drop-shadow(-2px -2px 0px #ffa500) drop-shadow(2px 2px 0px #ffa500) drop-shadow(-2px 2px 0px #ffa500) drop-shadow(2px -2px 0px #ffa500);
}

/** Player panels **/

.counters {
  float: left;
  line-height: 32px;
  width: 100px;
}

.counters .mdi {
  font-size: 24px;
}

.preview {
  zoom: .62;
  width: 168px;
  height: 168px;
  line-height: 168px;
  text-align: center;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding-left: 100px;
}